.navbar{
  margin-top: 50px;
  border: 1px solid #383838;
}
.navbar ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  border-radius: 10px;
  list-style: none;
}
.navbar ul li a{
  text-decoration: none;
  color: white;
  font-size: 13px;
  text-transform: capitalize;
}