:root {
  /* color variable */
  --color-black: #000000;
  --color-white: #FFFFFF;
  --color-bebe-blue: #3281F4;
  --bg-dark-gray: #0F0E11;
  
  
  /* size variable */
  --size-mobile-header: 15px 10px;
  --size-tablet-header: 10px 20px;
  --size-laptop-header: 10px 30px;
  --size-computer-header: 10px 40px
}


